

<!-- app/views/users/show.html.erb -->
<div class="col-md-4">
  <div class="card box-shadow mx-auto my-5" style="width: 18rem;">
    <div class="card-body">
<h1>Profil de <%= @user.first_name %> <%= @user.last_name %></h1>

<p>Prénom : <%= @user.first_name %></p>
<p>Nom de famille : <%= @user.last_name %></p>
<p>Description : <%= @user.description %></p>
<p>E-mail : <%= @user.email %></p>

<h2>Événements créés par <%= @user.first_name %></h2>

<% @events.each do |event| %>
    <% if event.admin == @user %>
    <%= button_to event.title, event_path(event) %>
    
    <% end %>
<% end %>

<% if current_user == @user %>
  <p><%= link_to "Éditer l'e-mail", edit_user_registration_path %></p>
  <p><%= link_to "Éditer le mot de passe", edit_user_registration_path %></p>
<% end %>
    </div>
</div>
</div>
